<div class="background"> 
    <div class="row">
        <div class="col">
            <div class="booyah-box mx-auto my-4" id="user-profile">
                <h1> User </h1>
                <h3> <%= @user.email %> </h3>g



            </div>
        </div>
    </div>
</div>