<div class="background"> 
    <div>
        
     
              
        <form class="booyah-box col-10 offset-1">
            <%= @places.inspect %>
            <h1>Enter Your Place Details</h1>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>