// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hello {
  background: url('campground.jpg');
  height: 100vh; //100% of the viewport height
  min-height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-attachment: fixed;
}