<div class="background"> 
    <div class="row">
        <div class="col">
            <div class="booyah-box mx-auto my-4" id="host-profile">
                <h1> <%= @user.email %> </h1>
                <button class="btn-secondary btn" type="button"> Add New Place </button>
            </div>
        </div>
    </div>
</div>