<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <br />
        <h4>RvPark</h4>
        <p>Copyright &copy; 2020 All rights reserved | RvPark, LLC
          <br> Terms of 
          <a href="#" target="_blank">Service</a>
          <br> 
          <a href="#">Privacy</a>
        </p>
      </div>
    </div>
  </div>
</footer>